CIRCUIT_BREAKER_FAILURE_THRESHOLD=
CIRCUIT_BREAKER_RECOVERY_TIMEOUT=
CIRCUIT_BREAKER_SUCCESS_THRESHOLD=
MAX_RETRIES=
NPCI_GRPC_URL=
NPCI_URL=
RABBITMQ_URL=
RECEIVER_BANK_GRPC_URL=
RECEIVER_BANK_PEER_URL=
RECEIVER_BANK_URL=
REQUEST_TIMEOUT_SECONDS=
RETRY_DELAY_SECONDS=
SENDER_BANK_GRPC_URL=
SENDER_BANK_URL=
VITE_NPCI_URL=
VITE_RECEIVER_BANK_URL=
VITE_SENDER_BANK_URL=
VITE_TXN_API_URL=
VITE_TXN_WS_URL=
